{% extends "layout.html" %}
{% load static %}
{% block title %}Send OTP{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
           <form method='post' action="{% url 'password_reset_send_otp' %}">
            {% csrf_token %}
            <h2>Reset Password via Phone</h2>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Enter your Phone Number</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your registered phone number" required>

                <div>
                    <button type="submit" class="btn btn-primary mt-3">Send OTP</button>
                </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}