{% extends "layout.html" %}
{% load static %}
{% block title %}Verify Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2>Verify OTP</h2>
            <form method='post' action="{% url 'password_reset_verify' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="otp" class="form-label">Enter OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter the OTP sent to your phone" required>
                    
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>

                    <label for="new_password2" class="form-label">Confirm New Password</label>
                    <input type="password"class='form-control' id='new_password2' name='new_password2' placeholder='Confirm your new password' required>
                </div>
                <button type="submit" class="btn btn-primary"> Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}